@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{  margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

:root{
    --amarillo1: rgb(252, 214, 2);
    --amarillo2: rgb(194, 167, 18);
    --grisoscuro: rgb(41, 41, 41);
    --grisclaro:  rgb(133, 143, 165);
}


header{
    width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

a{
    color: var(--grisoscuro);
}

.logo{
    width: 200px;
    padding: 0 5px;
}

ul{
    width: 550px;
    display: flex;
    justify-content: space-evenly;
    
}

li{
    text-transform: uppercase;
    list-style-type: none;
    font-size: 0.7rem;
    
    
}

.socialmedia {
    width: 200px;
    justify-content: space-between;
    text-align: center;
    
}
i{
    margin:0 5px;
    color:var(--grisoscuro)
}

h1,h2,h3{
    text-transform: uppercase;
    
}

h1{ font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    border-right: solid  rgb(194, 167, 18) 12px;
    padding-right: 4px;
    display: inline;
    color: var(--grisoscuro);
}

h2{ font-size: 2.3rem;
    font-weight:400;
    color: var(--grisoscuro);
}

.lugar{
    font-size: 1rem;
    color: var(--grisoscuro);
}

.container {
    width: auto;
    height: 450px;
    background-color: rgb(252, 214, 2);
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.intro{
    padding: 0 5px;
    width: 500px;
    flex-direction: column ;
}


.lineaboton{
    display: flex;  
    margin-top: 25px;
    color: var(--grisoscuro);
}

.lineaboton button{
    background-color:var(--grisoscuro);
    color: white;
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 10px 40px ;
    border: none;
    
}
.lineaboton a{
    color: black;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 0.8rem;
    padding: 10px 40px ;
    
}

.fotoperfil{
    width: 500px;
    text-align: center;
   
}
img{
    width: 300px;
    height: 300px;
    border: 10px solid white;
    border-radius: 100%;
    object-fit: cover;
}
.flechahero{
    width: auto;
    text-align: center;
    padding-bottom: 5px;
    background-color: rgb(252, 214, 2);
    color: var(--grisoscuro);
   
    
}
