@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{  margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; 
}

:root{
    --amarillo1: rgb(252, 214, 2);
    --amarillo2: rgb(194, 167, 18);
    --grisoscuro: rgb(41, 41, 41);
    --grisclaro:  rgb(133, 143, 165);
    --grisclarito: rgb(241, 245, 253);
}

section{
    width: auto;
    align-items: center;
    margin: 0 auto;
}

.contenedor {
    width: 1000px;
    margin: 0 auto;
   
}

h1{ font-size: 5rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-right: solid  rgb(194, 167, 18) 12px;
    padding-right: 4px;
    display: inline;
    color: var(--grisoscuro);
}

h2{ text-transform: uppercase;
    font-size: 2.3rem;
    font-weight:400;
    color: var(--grisoscuro);
}

h3{
    text-transform:capitalize;
    font-weight: bolder;
    font-size: 1.5rem;
    
}

p{
    line-height: 1.8 ;
}

header{
    width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    
}

a {
    color: var(--grisoscuro);
    text-transform: capitalize;
}

.link:hover{
    background-color: var(--amarillo2);
    
}

.logo{ 
    width: 200px;
    padding: 0 5px;
    text-transform: uppercase;
    display: block;   
}

.logo:hover, i:hover{
    color:  var(--amarillo1);
    text-shadow: 1px 1px 2px var(--grisoscuro);
}

nav{
    width: 600px; 
    align-items: center;
    justify-content: center;
    text-align: center;  
}
ul{
    width: 600px;
    display: flex;
    justify-content: space-evenly; 
}

li, .menu{
    list-style-type: none;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.socialmedia {
    width: 200px;
    justify-content: space-between;
    text-align: center;
    
}
i{
    margin:0 5px;
    color:var(--grisoscuro);
    cursor: pointer; 
}


 

.hero{
    width: auto;
    background-color: var(--amarillo1);
}




.lugar{
    font-size: 1rem;
    color: var(--grisoscuro);
}

.container {
    
    height: 450px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.intro{
    padding: 0 5px;
    width: 500px;
    flex-direction: column ;
}


.lineaboton{
    display: flex;  
    margin-top: 25px;
    color: var(--grisoscuro);
}

.lineaboton button{
    background-color:var(--grisoscuro);
    color: white;
    text-transform: capitalize;
    font-size: 0.8rem;
    padding: 10px 40px ;
    border: none;
    cursor: pointer; 
}

button:hover{
    background-color:var(--amarillo2);
    box-shadow: 1px 1px 3px var(--grisoscuro);
    color:white;
    

}
.lineaboton a{
    color: black;
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 0.8rem;
    padding: 10px 40px ;
    
}

.fotoperfil{
    width: 500px;
    text-align: center;
   
}
.profilephoto{
    width: 300px;
    height: 300px;
    border: 10px solid white;
    border-radius: 100%;
    object-fit: cover;
}
.flechahero{
    width: auto;
    text-align: center;
    padding-bottom: 5px;
    background-color: rgb(252, 214, 2);
    color: var(--grisoscuro);
}



.linkytitulo{
    width: 1000px;
    text-align: center;
    padding:30px 0;
    margin: 0px 0;
    
}

.link{
    background-color:var(--amarillo1);
    font-size: 0.8rem;
}

.mepresento{
    width: 1000px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.nombre{
    font-size: 1rem;
}
.hi{
    width: 620px;
    display: flex;
    flex-direction: column;
    font-size: 00.8rem;
    padding-right: 30px;
}


.circulo{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: var(--amarillo1);
    display: flex;
    align-items: center;
    margin:0 auto
    
}
.veintidos{
    font-size: 5rem;
    font-weight: 600;
    align-items: center;
    
}
.anios{
    width: 380px;
    padding-top: 10px;
    text-align: center;
    display: block;
    font-size: 1rem;
}


table{
    width: 1000px;
    margin:50px auto; 
    padding-bottom: 50px;
}

th, td{
    text-align: left;
    padding-right: 50px;
}

th{
    font-weight: 100;
    font-size: 0.8rem;   
}

td{
    font-weight: 600;
    font-size: 0.9rem;
}

.tres{
    background-color: var(--grisclarito);
    width: auto;
    padding: 30px 0;
}


h4{
    text-transform: capitalize;
    padding: 5px
}

.grilla{
    
    display: flex;
    margin-top: 0 auto;
    
}


.grillainterior{
    width: auto;
    text-align: center;
    padding: 30px
    
}
.igrilla{
    font-size: 3rem;
    padding: 10px 0;
    color: var(--amarillo1);
}
.pgrilla{
    font-size: 0.8rem;
}
.seis{
 width: auto;
 background-color: var(--grisoscuro);
}

.ocho{
    background-color: var(--grisclaro);
    
}

.nueve{
    background-color: var(--amarillo1);
}

.navdos{
    width: 600px;
    margin: 0 auto;
    justify-content: center;
}
.menunavdos{
    
   text-transform:capitalize;
   font-size: 0.8rem;
}

.menu:hover, .menunavdos:hover {
    font-weight:bold;
    border-bottom: 2px solid var(--amarillo1);
}

.gallery{
    width: auto;
    display: flex;
    margin: 20px auto;
    justify-content: center;
  
}
.photogallery{
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 5px 10px;
    cursor: pointer;    
}

